<div style="background-color: #cb218e;">
    <div class="container-fluid mx-5">
        <div class="row py-3 d-flex align-items-center">
            <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                <a class="mb-0" data-toggle="modal" data-target="#form-modelModal"><strong>Model Wanted</strong></a> -
                <a href="#" class="mb-0"><strong>Contact Us</strong></a> -
                <a href="#" class="mb-0"><strong>Support</strong></a>
            </div>
            <div class="col-md-6 col-lg-7 text-center text-md-right">
                <a class="fb-ic" href="#">
                    <i class="fab fa-facebook-f white-text mr-4"></i>
                </a>
                <a class="tw-ic" href="#">
                    <i class="fab fa-twitter white-text mr-4"> </i>
                </a>
                <a class="ins-ic" href="#">
                    <i class="fab fa-instagram white-text"> </i>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mx-5 text-center text-md-left pt-4">
    <div class="row mt-3">
        <div class="col-12 mx-auto mb-4 text-center">
            <p>The site contains sexually explicit material. Enter only if you are at least 18 years old and agree our  
                <a style="color: #cb218e!important;"  target="_blank" href="./terms-condition.html">Terms & Conditions</a> 
                and 
                <a style="color: #cb218e!important;"  target="_blank" href="./privacy-policy.html">Privacy Policy</a>.
            </p>
            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p>
                <a style="color: #fff!important;"  target="_blank" href="./support.html">Help </a>
                - 
                <a style="color: #fff!important;"  target="_blank" href="./privacy-policy.html">Privacy Policy</a>
                - 
                <a style="color: #fff!important;"  target="_blank" href="./cookies-policy.html">Cookies Policy</a>
                - 
                <a style="color: #fff!important;"  target="_blank" href="./terms-condition.html">Terms & Conditions</a>
            </p>
        </div>
    </div>
</div>
<div class="footer-copyright text-center py-3">© 2021 Copyright:
    <a href="#"> proyecto.com</a>
</div>

<script src="../src/js/rz.js"></script>
<script src="../src/js/main.js"></script>