<!--Afilliate Modal-->
<div class="modal fade" id="form-accModal" tabindex="-1" role="dialog" aria-labelledby="form-accLabel" aria-hidden="true">
                
    <div id="modal-xl-content" class="modal-dialog modal-xl" role="document">
        <div id="frm-modal-content" class="modal-content">
            <div class="">
                <ul id="form-pill" class="nav md-pills nav-justified pills-info pt-2 px-2">
                    <li class="nav-item">
                        <a id="pill-singin" class="pill-btn nav-link border border-custom border-rounded show" data-toggle="tab" href="#tab-singin" role="tab">Login</a>
                    </li>
                    <li class="nav-item">
                        <a id="pill-singup" class="pill-btn nav-link border border-custom border-rounded show" data-toggle="tab" href="#tab-singup" role="tab">Register</a>
                    </li>
                </ul>
                <div class="tab-content py-0">
                    <!-- modal singin start -->
                    <div class="tab-pane-frm tab-pane fade in" id="tab-singin" role="tabpanel">
                        <form id="login" class="text-center mt-5">
                            <div class="md-form mx-1">
                                <input type="email" id="username" class="form-control" name="username" >
                                <label for="username">E-mail or Username</label>
                            </div>
                            <br>
                            <div class="md-form mx-1">
                                <input type="password" id="password" class="form-control" name="password" >
                                <label for="password">Password</label>
                            </div>
                            <div class="mt-5">
                                <a href="./lost-password.html" class="btn btn-outline-custom btn-md mb-4 waves-effect waves-light" target="_blank">Forgot password?</a>
                                <a href="./profile-afiliate.html" class="btn btn-custom btn-md mb-4 waves-effect waves-light" target="_blank" type="submit">Login</a>
                            </div>
                        </form>
                    </div>
                    <!-- modal singin end -->
                    <!-- modal singup start -->
                    <div class="tab-pane-frm tab-pane fade in" id="tab-singup" role="tabpanel">
                        <div class="row">
                            <div class="col-12 col-xl-6 mt-5">
                                <form id="register" class="text-center w-100">
                                    <div class="tab-content pt-0">
                                        <div class="md-form my-4">
                                            <input type="email" id="signonusername" class="form-control" name="signonusername" >
                                            <label for="signonusername">Username</label>
                                        </div>
                                        <br>
                                        <div class="md-form my-4">
                                            <input type="email" id="email" class="form-control" name="email" >
                                            <label for="email">E-mail</label>
                                        </div>
                                        <br>
                                        <div class="md-form my-4">
                                            <input type="password" id="signonpassword" class="form-control" name="signonpassword" >
                                            <label for="signonpassword">Password</label>
                                        </div>
                                        <br>
                                        <div class="md-form my-4">
                                            <input type="password" id="signonpassword2" class="form-control" name="signonpassword2" >
                                            <label for="signonpassword2">Repeat Password</label>
                                        </div>
                                        <br>
                                        <div>
                                            <p class="small grey-text">
                                                By clicking on register i declare that i have read and agree to the <a style="color: #cb218e!important;" target="_blank" href="./terms-condition.html">Terms & Conditions</a> and <a style="color: #cb218e!important;" target="_blank" href="./privacy-policy.html">Privacy Policy</a> and i am over 18 yesrs old.
                                            </p>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-xl-6 d-none d-xl-block p-0">
                                <div class="overvideo"></div>
                                <video loop autoplay>
                                    <source src="../src/video/sign-girl.mp4" type="video/mp4">
                                </video>
                            </div>
                        </div>
                    <!-- modal singup end -->
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="mr-auto">
                        <a style="color: #cb218e!important;" target="_blank" href="./support.html">Support Online</a>
                    </div>
                    <button type="button" class="btn btn-outline-custom btn-md waves-effect waves-light" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</div>
<!--/.Afilliate Modal-->