<!--Model Modal-->
<div class="modal fade" id="form-loginModel" tabindex="-1" role="dialog" aria-labelledby="form-modelLabel" aria-hidden="true">
                
    <div class="modal-dialog" role="document">
        <div id="frm-modalModel-content" class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold text-white">Sign in</h4>
            </div>
            <div class="modal-body">
                <form id="loginModel" class="text-center mt-5">
                    <div class="md-form mx-1">
                        <input type="email" id="modeloginusername" class="form-control" name="modeloginusername" >
                        <label for="modeloginusername">E-mail or Username</label>
                    </div>
                    <br>
                    <div class="md-form mx-1">
                        <input type="password" id="modeloginpassword" class="form-control" name="modeloginpassword" >
                        <label for="modeloginpassword">Password</label>
                    </div>
                    <div class="mt-5">
                        <a href="./lost-password.html" class="btn btn-outline-custom btn-md mb-4 waves-effect waves-light" target="_blank">Forgot password?</a>
                        <a href="./profile-model.html" class="btn btn-custom btn-md mb-4 waves-effect waves-light" target="_blank" type="submit">Login</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
<!--/.Model Modal-->