<div class="float-left">
    <a id="slide-in" style="color: #cb218e!important;" class="button-collapse">
        <i class="fas fa-bars"></i>
    </a>
</div>

<div class="ml-auto pl-2">
    <span class="d-none d-md-inline-block">
        <div class="m-item">
            <a class="my-0" data-toggle="modal" data-target="#promotionModal">
                <i class="fas fa-gem"></i>
                <span class="d-none d-lg-inline-block mr-1">Promotions</span>
            </a>
            <span style="min-height:1px" class="pr-2"></span>
        </div>
    </span>
    <span class="d-none d-md-inline-block">
        <div class="m-item">
            <a class="my-0">
                <i class="fas fa-crown"></i>
                <span class="d-none d-lg-inline-block mr-1">Awards</span>
            </a>
            <span style="min-height:1px" class="pr-2"></span>
        </div>
    </span>
    <span class="d-none d-md-inline-block">
        <div class="m-item">
            <a class="my-0">
                <i class="fas fa-money-bill-wave"></i>
                <span class="d-none d-lg-inline-block mr-1">Credits</span>
            </a>
            <span style="min-height:1px" class="pr-2"></span>
        </div>
    </span>
    <span class="d-none d-md-inline-block">
        <div class="m-item">
            <a class="my-0">
                <i class="fas fa-heart"></i>
                <span class="d-none d-lg-inline-block mr-1">Favorites</span>
            </a>
            <span style="min-height:1px" class="pr-2"></span>
        </div>
    </span>
</div>

<span id="dpl-navbar-right-buttons">
    <ul class="nav navbar-nav nav-flex-icons ml-auto">
        <li class="nav-item dropdown d-none d-md-block">
            <a class="nav-link dropdown-toggle" id="lang-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Language
            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-warning" aria-labelledby="navbarDropdown">
                <ul class="p-0 row" aria-labelledby="lang-dropdown">
                    <li class="col-12 col-md-6 col-lg-4">
                        <a class="dropdown-item" href="">
                            <img src="../src/img/icos/flags/place.png" alt="" height="20px" class="mx-2 waves-effect waves-light">
                            <span>Language#1</span>
                        </a>
                    </li>
                    <li class="col-12 col-md-6 col-lg-4">
                        <a class="dropdown-item" href="">
                            <img src="../src/img/icos/flags/place.png" alt="" height="20px" class="mx-2 waves-effect waves-light">
                            <span>Language#2</span>
                        </a>
                    </li>
                    <li class="col-12 col-md-6 col-lg-4">
                        <a class="dropdown-item" href="">
                            <img src="../src/img/icos/flags/place.png" alt="" height="20px" class="mx-2 waves-effect waves-light">
                            <span>Language#3</span>
                        </a>
                    </li>
                    <li class="col-12 col-md-6 col-lg-4">
                        <a class="dropdown-item" href="">
                            <img src="../src/img/icos/flags/place.png" alt="" height="20px" class="mx-2 waves-effect waves-light">
                            <span>Language#4</span>
                        </a>
                    </li>
                    <li class="col-12 col-md-6 col-lg-4">
                        <a class="dropdown-item" href="">
                            <img src="../src/img/icos/flags/place.png" alt="" height="20px" class="mx-2 waves-effect waves-light">
                            <span>Language#5</span>
                        </a>
                    </li>
                    <li class="col-12 col-md-6 col-lg-4">
                        <a class="dropdown-item" href="">
                            <img src="../src/img/icos/flags/place.png" alt="" height="20px" class="mx-2 waves-effect waves-light">
                            <span>Language#6</span>
                        </a>
                    </li>
                    <li class="col-12 col-md-6 col-lg-4">
                        <a class="dropdown-item" href="">
                            <img src="../src/img/icos/flags/place.png" alt="" height="20px" class="mx-2 waves-effect waves-light">
                            <span>Language#7</span>
                        </a>
                    </li>
                    <li class="col-12 col-md-6 col-lg-4">
                        <a class="dropdown-item" href="">
                            <img src="../src/img/icos/flags/place.png" alt="" height="20px" class="mx-2 waves-effect waves-light">
                            <span>Language#8</span>
                        </a>
                    </li>
                    <li class="col-12 col-md-6 col-lg-4">
                        <a class="dropdown-item" href="">
                            <img src="../src/img/icos/flags/place.png" alt="" height="20px" class="mx-2 waves-effect waves-light">
                            <span>Language#9</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <a category="singin" alt="Sign In" class="d-none d-md-block frm-a text-info align-self-center ml-2 auth-modal-toggle n-btn" data-toggle="modal" data-target="#form-accModal">Login</a>
        <a category="singup" alt="Sign Up" class="d-none d-md-block frm-a btn btn-custom btn-rounded btn-sm waves-effect waves-light auth-modal-toggle" data-toggle="modal" data-target="#form-accModal">Join Now</a>
    </ul>
</span>