<div class="float-left">
    <a id="slide-in" style="color: #cb218e!important;" class="button-collapse">
        <i class="fas fa-bars"></i>
    </a>
</div>

<div class="ml-auto pl-2">
    <span class="d-none d-md-inline-block">
        <div class="m-item">
            <a class="my-0">
                <i class="far fa-webcam"></i>
                <span class="d-none d-lg-inline-block mr-1">Live Cams</span>
            </a>
            <span style="min-height:1px" class="pr-2 d-inline-block d-lg-none"></span>
        </div>
    </span>
    <span class="d-none d-md-inline-block">
        <div class="m-item">
            <a class="my-0">
                <i class="fas fa-mobile-android-alt"></i>
                <span class="d-none d-lg-inline-block mr-1">Mobile Live</span>
            </a>
            <span style="min-height:1px" class="pr-2 d-inline-block d-lg-none"></span>
        </div>
    </span>
    <span class="d-none d-md-inline-block">
        <div class="m-item">
            <a class="my-0">
                <i class="far fa-envelope"></i>
            </a>
            <span style="min-height:1px" class="pr-2"></span>
        </div>
    </span>
    <span class="d-none d-md-inline-block">
        <div class="m-item">
            <a class="my-0">
                <i class="fas fa-heart"></i>
            </a>
            <span style="min-height:1px" class="pr-2"></span>
        </div>
    </span>
    <span class="d-none d-md-inline-block">
        <div class="m-item">
            <a class="my-0">
                <i class="fas fa-money-bill-wave d-inline-block d-lg-none"></i>
                <span class="d-none d-lg-inline-block mr-1">Credits</span>
            </a>
            <span style="min-height:1px" class="pr-2"></span>
        </div>
    </span>
    <span class="d-none d-md-inline-block">
        <div class="m-item">
            <a class="my-0">
                <i class="far fa-shopping-cart d-inline-block d-lg-none"></i>
                <span class="d-none d-lg-inline-block mr-1">Store</span>
            </a>
        </div>
    </span>
</div>

<span id="dpl-navbar-right-buttons">
    <ul class="nav navbar-nav nav-flex-icons ml-auto">
        <li class="nav-item dropdown d-none d-md-block">
            <a class="nav-link dropdown-toggle" id="lang-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <img id="changeFlag_lang" style="width: 22px;height: 16px;" src="../src/img/icos/flags/flag_en.png" alt="">
            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-warning" aria-labelledby="navbarDropdown">
                <ul class="p-0 row" aria-labelledby="lang-dropdown">
                    <li class="col-12 col-md-6 col-lg-4">
                        <a class="dropdown-item" href="" category="languageEnglish">
                            <img src="../src/img/icos/flags/flag_en.png" alt="" height="20px" class="mx-2 waves-effect waves-light">
                            <span>English</span>
                        </a>
                    </li>
                    <li class="col-12 col-md-6 col-lg-4">
                        <a class="dropdown-item" href="" category="languageFrench">
                            <img src="../src/img/icos/flags/flag_fr.png" alt="" height="20px" class="mx-2 waves-effect waves-light">
                            <span>French</span>
                        </a>
                    </li>
                    <li class="col-12 col-md-6 col-lg-4">
                        <a class="dropdown-item" href="" category="languageItalian">
                            <img src="../src/img/icos/flags/flag_it.png" alt="" height="20px" class="mx-2 waves-effect waves-light">
                            <span>Italian</span>
                        </a>
                    </li>
                    <li class="col-12 col-md-6 col-lg-4">
                        <a class="dropdown-item" href="" category="languageSpanish">
                            <img src="../src/img/icos/flags/flag_es.png" alt="" height="20px" class="mx-2 waves-effect waves-light">
                            <span>Spanish</span>
                        </a>
                    </li>
                    <li class="col-12 col-md-6 col-lg-4">
                        <a class="dropdown-item" href="" category="languageDeutsch">
                            <img src="../src/img/icos/flags/flag_de.png" alt="" height="20px" class="mx-2 waves-effect waves-light">
                            <span>Deutsch</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <a category="singin" alt="Sign In" class="d-none d-md-block frm-a text-info align-self-center ml-2 auth-modal-toggle" style="color: #fff!important;" data-toggle="modal" data-target="#form-accModal">Login</a>
        <a category="singup" alt="Sign Up" class="d-none d-md-block frm-a text-info align-self-center ml-2 auth-modal-toggle n-btn" data-toggle="modal" data-target="#form-accModal"">Join Now</a>
        <a class="d-none d-md-block frm-a btn btn-custom btn-rounded btn-sm waves-effect waves-light auth-modal-toggle" data-toggle="modal" data-target="#form-modelModal">Model Wanted</a>
    </ul>
</span>