<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Kisses4U || Model Center</title>
        <meta content="RZ" name="author">
        <meta http-equiv="cache-control" content="max-age=0">
        <meta http-equiv="cache-control" content="no-cache">
        <meta http-equiv="expires" content="0">
        <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT">
        <meta http-equiv="pragma" content="no-cache">
        
        <meta content="height=device-height, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
        <!-- Favicon -->
        <link href="../src/img/icos/favicon.png" rel="shortcut icon" type="image/x-icon">   
        <!-- style start -->
        <link href="../src/css/reset.css" media="all" rel="stylesheet" type="text/css">
        <link href="../src/css/rz.css" media="all" rel="stylesheet" type="text/css">
        <link href="../src/mdb5/css/mdb.min.css" media="all" rel="stylesheet" type="text/css">
        <link href="../src/css/rz-custom.css" media="all" rel="stylesheet" type="text/css">
        <link href="../src/font/fonts/fonts.css" media="all" rel="stylesheet" type="text/css">
        <link href="../src/css/style.css" media="all" rel="stylesheet" type="text/css">
        <link href="../src/css/model-wanted.css" media="all" rel="stylesheet" type="text/css">
        <!-- style end -->
        <!-- fonts start -->
        <link href="../src/font/fontpro/css/all.min.css" rel="stylesheet" type="text/css">
        <link href="../src/font/Pe-icons/Pe-icon-7-stroke.css" rel="stylesheet" type="text/css">
        <!-- fonts end -->
        <script src="../src/js/rz-jq.js"></script>
        <script>
            $(document).ready(function () {$('#form_container').load('loginmodel.html');});
            $(document).ready(function () {$('#footer_container').load('footer.html');});
        </script>

    </head>
    <body style="background-image: url(../src/img/bg/bg.jpg);">
                
        <div class="wrapper">

            <!-------------------------------------- sidebar start -------------------------------------->
            <nav id="sidebar" class="side-nav sn-bg-1 rz-sidenav">
                <ul class="list-unstyled custom-scroll" style="max-height:100%; padding-bottom:90px; position:relative;">
                    <li class="logo-sn d-block waves-effect">
                        <div class="text-center">
                            <a class="pl-0" href="./girls.html">
                                <img class="h-100" src="../src/img/icos/logo.svg" alt="Logo">
                            </a>
                        </div>
                    </li>
                    <li class="text-center">
                        <div class="btn-group text-center"" role="group">
                            <a href="./girls.html" class="btn btn-sm btn-outline-custom" style="height: 32px; line-height: 16px;">Girls</a>
                            <a href="./boys.html" class="btn btn-sm btn-outline-custom" style="height: 32px; line-height: 16px;">Boys</a>
                        </div>
                    </li>
                    <li>
                        <ul id="side-menu" class="accordion mt-2">
                            <li id="" class="menu-item">
                                <div class="accordion-header" id="headUser">
                                    <a class="collapsible-header waves-effect arrow-r" data-mdb-toggle="collapse" data-mdb-target="#panelUser" aria-expanded="false" aria-controls="panelUser">
                                        User
                                        <i class="fa fa-angle-down rotate-icon"></i>
                                    </a>
                                </div>
                                <div id="panelUser" class="accordion-collapse collapse" aria-labelledby="headUser"> 
                                    <ul class="sub-menu">
                                        <li id="" class="menu-item"><a class="collapsible-header waves-effect" data-toggle="modal" data-target="#form-loginModel">Login</a></li>
                                        <li id="" class="menu-item"><a class="collapsible-header waves-effect" href="../views/mode-wanted-single.html">Join Now</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li id="" class="menu-item">
                                <div class="accordion-header" id="headLangHome">
                                    <a class="collapsible-header waves-effect arrow-r" data-mdb-toggle="collapse" data-mdb-target="#paneLangHome" aria-expanded="false" aria-controls="paneLangHome">
                                        Language
                                        <i class="fa fa-angle-down rotate-icon"></i>
                                    </a>
                                </div>
                                <div id="paneLangHome" class="accordion-collapse collapse" aria-labelledby="headLangHome"> 
                                    <ul class="sub-menu">
                                        <li id="" class="menu-item"><a class="collapsible-header waves-effect" category="languageEnglish">English</a></li>
                                        <li id="" class="menu-item"><a class="collapsible-header waves-effect" category="languageFrench">French</a></li>
                                        <li id="" class="menu-item"><a class="collapsible-header waves-effect" category="languageItalian">Italian</a></li>
                                        <li id="" class="menu-item"><a class="collapsible-header waves-effect" category="languageSpanish">Spanish</a></li>
                                        <li id="" class="menu-item"><a class="collapsible-header waves-effect" category="languageDeutsch">Deutsch</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>    
                    </li>
                </ul>
                <div class="sidenav-bg mask-strong" style="width: 240px;"></div>
            </nav>
            <div id="sideoverlay"></div>
            <!-------------------------------------- sidebar end -------------------------------------->
            
            <div id="content">

                <!-------------------------------------- navbar start -------------------------------------->
                <nav class="navbar navbar-expand-lg navbar-dark d-block pt-0" style="z-index: 200;">
                    <div class="container-fluid">
                        <div class="float-left">
                            <a id="slide-in" style="color: #cb218e!important;" class="button-collapse">
                                <i class="fas fa-bars"></i>
                            </a>
                        </div>
                        <div class="ml-auto">
                            <span id="dpl-navbar-right-buttons">
                                <ul class="nav navbar-nav nav-flex-icons ml-auto">
                                    <li class="nav-item dropdown d-none d-md-block">
                                        <a class="nav-link dropdown-toggle" id="lang-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            <img id="changeFlag_lang" style="width: 22px;height: 16px;" src="../src/img/icos/flags/flag_en.png" alt="">
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-warning" aria-labelledby="navbarDropdown">
                                            <ul class="p-0 row" aria-labelledby="lang-dropdown">
                                                <li class="col-12 col-md-6 col-lg-4">
                                                    <a class="dropdown-item" href="" category="languageEnglish">
                                                        <img src="../src/img/icos/flags/flag_en.png" alt="" height="20px" class="mx-2 waves-effect waves-light">
                                                        <span>English</span>
                                                    </a>
                                                </li>
                                                <li class="col-12 col-md-6 col-lg-4">
                                                    <a class="dropdown-item" href="" category="languageFrench">
                                                        <img src="../src/img/icos/flags/flag_fr.png" alt="" height="20px" class="mx-2 waves-effect waves-light">
                                                        <span>French</span>
                                                    </a>
                                                </li>
                                                <li class="col-12 col-md-6 col-lg-4">
                                                    <a class="dropdown-item" href="" category="languageItalian">
                                                        <img src="../src/img/icos/flags/flag_it.png" alt="" height="20px" class="mx-2 waves-effect waves-light">
                                                        <span>Italian</span>
                                                    </a>
                                                </li>
                                                <li class="col-12 col-md-6 col-lg-4">
                                                    <a class="dropdown-item" href="" category="languageSpanish">
                                                        <img src="../src/img/icos/flags/flag_es.png" alt="" height="20px" class="mx-2 waves-effect waves-light">
                                                        <span>Spanish</span>
                                                    </a>
                                                </li>
                                                <li class="col-12 col-md-6 col-lg-4">
                                                    <a class="dropdown-item" href="" category="languageDeutsch">
                                                        <img src="../src/img/icos/flags/flag_de.png" alt="" height="20px" class="mx-2 waves-effect waves-light">
                                                        <span>Deutsch</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <a class="d-none d-md-block frm-a text-info align-self-center ml-2 auth-modal-toggle" style="color: #fff!important;" data-toggle="modal" data-target="#form-loginModel">Login</a>
                                    <a class="d-none d-md-block frm-a btn btn-custom btn-rounded btn-sm waves-effect waves-light auth-modal-toggle" href="../views/mode-wanted-single.html">Join Now</a>
                                </ul>
                            </span>
                        </div>
                    </div>
                </nav>
                <!-------------------------------------- navbar end -------------------------------------->

                <!-------------------------------------- form modals start -------------------------------------->
                <div id="form_container"></div>
                <!-------------------------------------- form modals end -------------------------------------->

                <div id="carouselIntro" class="carousel slide carousel-fade shadow-2-strong" data-mdb-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active" style="background-image: url(../src/img/bg/MC-Banner.jpg);">
                            <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
                                <div class="d-flex justify-content-center align-items-center h-100">
                                    <div class="text-white text-center">
                                        <h1 class="my-2">Become a Kisses for You</h1>
                                        <a class="btn btn-outline-custom btn-md m-2" href="#accountype">Join Us</a>
                                        <h5 class="my-2">Already have an Account?</h5>
                                        <a class="btn btn-outline-custom btn-md m-2" data-toggle="modal" data-target="#form-loginModel">Login Here</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="py-5 text-center ben-wrapper text-white">
                    <div class="overlay"></div>
                    <h2 style="color: #fff;">You have Fun and Earn</h2>
                    <div class="row mt-5">
                        <div class="col-12 col-md-6 col-lg-3 mb-4">
                            <img class="icon-mc" src="../src/img/icos/MC/clock.svg" alt="">
                            <p class="d-block" style="color: #fff;">You decide when to Work</p>
                        </div>
                        <div class="col-12 col-md-6 col-lg-3 mb-4">
                            <img class="icon-mc" src="../src/img/icos/MC/conversation.svg" alt="">
                            <p class="d-block" style="color: #fff;">Fun Conversation</p>
                        </div>
                        <div class="col-12 col-md-6 col-lg-3 mb-4">
                            <img class="icon-mc" src="../src/img/icos/MC/pay.svg" alt="">
                            <p class="d-block" style="color: #fff;">Payout every two Weeks</p>
                        </div>
                        <div class="col-12 col-md-6 col-lg-3">
                            <img class="icon-mc" src="../src/img/icos/MC/live.svg" alt="">
                            <p class="d-block" style="color: #fff;">24/7 Live Support</p>
                        </div>
                    </div>
                </div>
                <div class="container-fluid px-0" id="accountype">
                    <div class="row">
                        <div class="col-12 col-md-6 px-0">
                            <div class="card card-image" style="background-image: url(../src/img/bg/single-bg.jpg);">
                                <div class="text-white text-center super-center rgba-black-strong py-5 px-4">
                                    <div>
                                        <h5 class="custom-text">
                                            <i class="fas fa-user fa-2x"></i> 
                                        </h5>
                                        <h3 class="card-title pt-2">
                                            <strong>Single Account</strong>
                                        </h3>
                                        <p>1 Person</p>
                                        <p>You are your own Boss</p>
                                        <p>Work when you feel like it</p>
                                        <a class="btn btn-custom" href="../views/mode-wanted-single.html">
                                            <i class="fas fa-clone left"></i> Join Us
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 px-0">
                            <div class="card card-image" style="background-image: url(../src/img/bg/company-bg.jpg);">
                                <div class="text-white text-center super-center rgba-black-strong py-5 px-4">
                                    <div>
                                        <h5 class="custom-text">
                                            <i class="fas fa-users fa-2x""></i> 
                                        </h5>
                                        <h3 class="card-title pt-2">
                                            <strong>Studio Account</strong>
                                        </h3>
                                        <p>2 or more Person</p>
                                        <p>Manage Yourself and your Partner</p>
                                        <p>Manage a group of Models</p>
                                        <a class="btn btn-custom" href="../views/mode-wanted-company.html">
                                            <i class="fas fa-clone left"></i> Join Us
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="py-5 text-center prot-wrapper text-white">
                    <div class="overlay"></div>
                    <div class="row my-5 w-100 super-center">
                        <div class="col-12 col-md-3 mb-4 order-2 order-md-1">
                            <img class="icon-mc" src="../src/img/icos/MC/country.svg" alt="">
                            <p class="d-block" style="color: #fff;">Country Ban</p>
                        </div>
                        <div class="col-12 col-md-5 mb-4 order-1 order-md-2">
                            <h2>Kisses For You Protects You</h2>
                            <p>kisses for you offers you the Best Protection</p>
                            <p>Our country ban option blocks visitors from Your Country</p>
                        </div>
                        <div class="col-12 col-md-3 mb-4 order-3">
                            <img class="icon-mc" src="../src/img/icos/MC/safe.svg" alt="">
                            <p class="d-block" style="color: #fff;">Safe, Secure and Discret</p>
                        </div>
                    </div>
                </div>
                <div id="carouselIntros" class="carousel slide carousel-fade shadow-2-strong" data-mdb-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active" style="background-image: url(../src/img/bg/AW-Banner.jpeg); background-position: center center;">
                            <div class="mask" style="background-image: url(../src/img/bg/star.png);">
                                <div class="d-flex justify-content-center align-items-center h-100 w-100" style="background-color: rgba(0, 0, 0, 0.6); ">
                                    <div class="text-white text-center">
                                        <h3 class="my-2">We award our models every week based on the vote of Uur Customers</h3>
                                        <h5 class="my-2">5000$ For the Best 50 Models</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="py-5 text-center prot-wrapper text-white">
                    <div class="overlay"></div>
                    <h2>Join our exclusive Cam Models</h2>
                    <a class="btn btn-outline-custom btn-md m-2" href="../views/mode-wanted-single.html">Join Us</a>
                </div>
            </div>
            
        </div>
        
        <footer id="footer_container" class="page-footer font-small unique-color-dark"></footer>

    </body>
    <!-- scripts start --> 
    <script src="../src/js/model-wanted.js"></script>
    <!-- scripts end -->

</html>