<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Proyecto</title>
        <meta content="RZ" name="author">
        <meta http-equiv="cache-control" content="max-age=0">
        <meta http-equiv="cache-control" content="no-cache">
        <meta http-equiv="expires" content="0">
        <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT">
        <meta http-equiv="pragma" content="no-cache">
        
        <meta content="height=device-height, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
        <!-- Favicon -->
        <link href="../src/img/icos/favicon.png" rel="shortcut icon" type="image/x-icon">   
        <!-- style start -->
        <link href="../src/css/reset.css" media="all" rel="stylesheet" type="text/css">
        <link href="../src/css/rz.css" media="all" rel="stylesheet" type="text/css">
        <link href="../src/font/fonts/fonts.css" media="all" rel="stylesheet" type="text/css">
        <link href="../src/css/style.css" media="all" rel="stylesheet" type="text/css">
        <link href="../src/css/profile.css" media="all" rel="stylesheet" type="text/css">
        <!-- style end -->
        <!-- fonts start -->
        <link href="../src/font/fontpro/css/all.min.css" rel="stylesheet" type="text/css">
        <link href="../src/font/Pe-icons/Pe-icon-7-stroke.css" rel="stylesheet" type="text/css">
        <!-- fonts end -->
        <script src="../src/js/rz-jq.js"></script>
        <script>
            $(document).ready(function () {$('#menu_container').load('menu.html');});
            $(document).ready(function () {$('#form_container').load('formsing.html');});
            $(document).ready(function () {$('#footer_container').load('footer.html');});
            $(document).ready(function () {$('#promotion_container').load('promotion.html');});
        </script>

    </head>
    <body style="background-image: url(../src/img/bg/bg.jpg);">
                
        <div class="wrapper">

            <!-------------------------------------- sidebar start -------------------------------------->
            <nav id="sidebar" class="side-nav sn-bg-1 rz-sidenav">
                <ul class="list-unstyled custom-scroll" style="max-height:100%; padding-bottom:90px; position:relative;">
                    <li class="logo-sn d-block waves-effect">
                        <div class="text-center">
                            <a class="pl-0" href="./girls.html">
                                <img class="h-100" src="../src/img/icos/logo.svg" alt="Logo">
                            </a>
                        </div>
                    </li>
                    <li class="text-center">
                        <div class="btn-group text-center"" role="group">
                            <a href="./girls.html" class="btn btn-sm btn-outline-custom" style="height: 32px; line-height: 16px;">Girls</a>
                            <a href="./boys.html" class="btn btn-sm btn-outline-custom" style="height: 32px; line-height: 16px;">Boys</a>
                        </div>
                    </li>
                    <li>
                        <ul id="side-menu" class="collapsible collapsible-accordion">
                            <li id="" class="menu-item">
                                <a class="collapsible-header waves-effect arrow-r">
                                    User
                                    <i class="fa fa-angle-down rotate-icon"></i>
                                </a>
                                <div class="collapsible-body"> 
                                    <ul class="sub-menu">
                                        <li id="" class="menu-item"><a class="collapsible-header waves-effect">My Account</a></li>
                                        <hr class="my-1">
                                        <li id="" class="menu-item"><a class="collapsible-header waves-effect" data-toggle="modal" data-target="#promotionModal">Promotions</a></li>
                                        <li id="" class="menu-item"><a class="collapsible-header waves-effect">Stories</a></li>
                                        <li id="" class="menu-item"><a class="collapsible-header waves-effect">Messages</a></li>
                                        <li id="" class="menu-item"><a class="collapsible-header waves-effect">Favorites</a></li>
                                        <li id="" class="menu-item"><a class="collapsible-header waves-effect">Get Credits</a></li>
                                        <li id="" class="menu-item"><a class="collapsible-header waves-effect">Awards</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li id="" class="menu-item">
                                <a class="collapsible-header waves-effect arrow-r">
                                    Language
                                    <i class="fa fa-angle-down rotate-icon"></i>
                                </a>
                                <div class="collapsible-body"> 
                                    <ul class="sub-menu">
                                        <li id="" class="menu-item"><a class="collapsible-header waves-effect">Language#1</a></li>
                                        <li id="" class="menu-item"><a class="collapsible-header waves-effect">Language#2</a></li>
                                        <li id="" class="menu-item"><a class="collapsible-header waves-effect">Language#3</a></li>
                                        <li id="" class="menu-item"><a class="collapsible-header waves-effect">Language#4</a></li>
                                        <li id="" class="menu-item"><a class="collapsible-header waves-effect">Language#5</a></li>
                                        <li id="" class="menu-item"><a class="collapsible-header waves-effect">Language#6</a></li>
                                        <li id="" class="menu-item"><a class="collapsible-header waves-effect">Language#7</a></li>
                                        <li id="" class="menu-item"><a class="collapsible-header waves-effect">Language#8</a></li>
                                        <li id="" class="menu-item"><a class="collapsible-header waves-effect">Language#9</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>    
                    </li>
                </ul>
                <div class="sidenav-bg mask-strong" style="width: 240px;"></div>
            </nav>
            <!-------------------------------------- sidebar end -------------------------------------->
            
            <div id="content">

                <!-------------------------------------- navbar start -------------------------------------->
                <nav id="menu_container" class="navbar navbar-expand-md navbar-dark unique-color-dark double-nav scrolling-navbar top-nav-collapse"></nav>
                <!-------------------------------------- navbar end -------------------------------------->

                <!-------------------------------------- form modals start -------------------------------------->
                <div id="form_container"></div>
                <!-------------------------------------- form modals end -------------------------------------->

                <!-------------------------------------- promotion modals start -------------------------------------->
                <div id="promotion_container"></div>
                <!-------------------------------------- promotion modals end -------------------------------------->

                <div class="container-fluid px-2">
                    <div class="row mx-auto mb-5">
                        <div class="col-12 col-lg-8 order-2 order-lg-1 mt-2 mt-lg-7 mb-1">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="classic-tabs">
                                        <div class="tabs-wrapper">
                                            <ul class="nav tabs-custom primary-color" role="tablist">
                                                <li class="nav-item">
                                                    <a class="nav-link waves-light waves-effect waves-light active" data-toggle="tab" href="#pgallery" role="tab" aria-selected="true">My Gallery</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="tab-content card custom-scroll">
                                            <div class="tab-pane fade active show" id="pgallery" role="tabpanel">
                                                <div class="row">
                                                    <div class="gallery" id="gallery">
                                                        <div id="cardAddMoreImg" class="card mb-3">
                                                            <div class="card-body super-center">
                                                                <a id="addMoreImg" class=""><i class="fal fa-4x fa-plus-circle"></i></a>
                                                            </div>
                                                        </div>
                                                        <div class="mb-3">
                                                            <img class="img-fluid" src="..../src/img/profile/model/gallery/1.jpg" alt="Card image cap">
                                                        </div>
                                                        <div class="mb-3">
                                                            <img class="img-fluid" src="..../src/img/profile/model/gallery/2.jpg" alt="Card image cap">
                                                        </div>
                                                        <div class="mb-3">
                                                            <img class="img-fluid" src="..../src/img/profile/model/gallery/3.jpg" alt="Card image cap">
                                                        </div>
                                                        <div class="mb-3">
                                                            <img class="img-fluid" src="..../src/img/profile/model/gallery/4.jpg" alt="Card image cap">
                                                        </div>
                                                        <div class="mb-3">
                                                            <img class="img-fluid" src="..../src/img/profile/model/gallery/5.jpg" alt="Card image cap">
                                                        </div>
                                                        <div class="mb-3">
                                                            <img class="img-fluid" src="..../src/img/profile/model/gallery/6.jpg" alt="Card image cap">
                                                        </div>
                                                        <div class="mb-3">
                                                            <img class="img-fluid" src="..../src/img/profile/model/gallery/7.jpg" alt="Card image cap">
                                                        </div>
                                                        <div class="mb-3">
                                                            <img class="img-fluid" src="..../src/img/profile/model/gallery/8.jpg" alt="Card image cap">
                                                        </div>
                                                        <div class="mb-3">
                                                            <img class="img-fluid" src="..../src/img/profile/model/gallery/9.jpg" alt="Card image cap">
                                                        </div>
                                                        <div class="mb-3">
                                                            <img class="img-fluid" src="..../src/img/profile/model/gallery/10.jpg" alt="Card image cap">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4 mb-md-0 mb-5 order-1 order-lg-2">
                            <div class="card profile-card">
                                <div class="avatar z-depth-1-half mb-4">
                                    <img src="..../src/img/profile/model/pp.jpg" class="rounded-circle" alt="First sample avatar image">
                                </div>
                                <div class="card-body pt-0 mt-0">
                                    <div class="text-center">
                                        <h3 class="mb-3 font-weight-bold"><strong>Anna Deynah</strong></h3>
                                        <h6 class="font-weight-bold custom-text mb-4">Model</h6>
                                    </div>
                                    <ul class="striped list-unstyled">
                                        <li><strong>E-mail:</strong> a.doe@example.com</li>
                        
                                        <li><strong>Phone:</strong> +1 234 5678 90</li>
                        
                                        <li><strong>Company:</strong> The Company, Inc</li>
                        
                                        <li><strong>Twitter:</strong> @example.example</li>
                        
                                        <li><strong>Instagram:</strong> @example.example</li>
                                    </ul>
                                    <div class="text-center">
                                        <a href="#" class="btn btn-custom">Edit</a>
                                    </div>
                                </div>
                             </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        
        <footer id="footer_container" class="page-footer font-small unique-color-dark"></footer>

    </body>
    <!-- scripts start --> 
    <script src="../src/js/profile.js"></script>
    <!-- scripts end -->

</html>