<div class="modal fade" id="promotionModal" tabindex="-1" role="dialog" aria-labelledby="promotionModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-white" id="promotionModalLabel">Current Promotions</h5>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-white">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugiat aspernatur eius nihil? Minus eos eligendi reiciendis nesciunt qui sit, ullam, repellat natus consequuntur explicabo impedit at laborum corrupti, ipsam nisi?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-custom" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>