<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Kisses4U || Terms & Conditions</title>
        <meta content="RZ" name="author">
        <meta http-equiv="cache-control" content="max-age=0">
        <meta http-equiv="cache-control" content="no-cache">
        <meta http-equiv="expires" content="0">
        <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT">
        <meta http-equiv="pragma" content="no-cache">
        
        <meta content="height=device-height, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
        <!-- Favicon -->
        <link href="../src/img/icos/favicon.png" rel="shortcut icon" type="image/x-icon">   
        <!-- style start -->
        <link href="../src/css/reset.css" media="all" rel="stylesheet" type="text/css">
        <link href="../src/css/rz.css" media="all" rel="stylesheet" type="text/css">
        <link href="../src/mdb5/css/mdb.min.css" media="all" rel="stylesheet" type="text/css">
        <link href="../src/css/rz-custom.css" media="all" rel="stylesheet" type="text/css">
        <link href="../src/font/fonts/fonts.css" media="all" rel="stylesheet" type="text/css">
        <link href="../src/css/style.css" media="all" rel="stylesheet" type="text/css">
        <link href="../src/css/legal.css" media="all" rel="stylesheet" type="text/css">
        <!-- style end -->
        <!-- fonts start -->
        <link href="../src/font/fontpro/css/all.min.css" rel="stylesheet" type="text/css">
        <link href="../src/font/Pe-icons/Pe-icon-7-stroke.css" rel="stylesheet" type="text/css">
        <!-- fonts end -->
        <script src="../src/js/rz-jq.js"></script>
        <script>
            $(document).ready(function () {$('#menu_container').load('menu.html');});
            $(document).ready(function () {$('#form_container').load('formsing.html');});
            $(document).ready(function () {$('#footer_container').load('footer.html');});
            $(document).ready(function () {$('#promotion_container').load('promotion.html');});
        </script>

    </head>
    <body style="background-image: url(../src/img/bg/bg-legal.jpg);background-repeat: no-repeat; background-size: cover; background-position: center;">
                
        <div class="wrapper">

            <!-------------------------------------- sidebar start -------------------------------------->
            <nav id="sidebar" class="side-nav sn-bg-1 rz-sidenav">
                <ul class="list-unstyled custom-scroll" style="max-height:100%; padding-bottom:90px; position:relative;">
                    <li class="logo-sn d-block waves-effect">
                        <div class="text-center">
                            <a class="pl-0" href="./girls.html">
                                <img class="h-100" src="../src/img/icos/logo.svg" alt="Logo">
                            </a>
                        </div>
                    </li>
                    <li class="text-center">
                        <div class="btn-group text-center"" role="group">
                            <a href="./girls.html" class="btn btn-sm btn-outline-custom" style="height: 32px; line-height: 16px;">Girls</a>
                            <a href="./boys.html" class="btn btn-sm btn-outline-custom" style="height: 32px; line-height: 16px;">Boys</a>
                        </div>
                    </li>
                    <li>
                        <ul id="side-menu" class="accordion mt-2">
                            <li id="" class="menu-item">
                                <div class="accordion-header" id="headUser">
                                    <a class="collapsible-header waves-effect arrow-r" data-mdb-toggle="collapse" data-mdb-target="#panelUser" aria-expanded="false" aria-controls="panelUser">
                                        User
                                        <i class="fa fa-angle-down rotate-icon"></i>
                                    </a>
                                </div>
                                <div id="panelUser" class="accordion-collapse collapse" aria-labelledby="headUser"> 
                                    <ul class="sub-menu">
                                        <li id="" class="menu-item"><a category="singin" class="collapsible-header waves-effect frm-a" data-toggle="modal" data-target="#form-accModal">Login</a></li>
                                        <li id="" class="menu-item"><a category="singup" class="collapsible-header waves-effect frm-a" data-toggle="modal" data-target="#form-accModal">Join Now</a></li>
                                        <hr class="my-1">
                                        <li id="" class="menu-item"><a class="collapsible-header waves-effect" data-toggle="modal" data-target="#promotionModal">Promotions</a></li>
                                        <li id="" class="menu-item"><a class="collapsible-header waves-effect">Store</a></li>
                                        <li id="" class="menu-item"><a class="collapsible-header waves-effect">Messages</a></li>
                                        <li id="" class="menu-item"><a class="collapsible-header waves-effect">Favorites</a></li>
                                        <li id="" class="menu-item"><a class="collapsible-header waves-effect">Get Credits</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li id="" class="menu-item">
                                <div class="accordion-header" id="headLangHome">
                                    <a class="collapsible-header waves-effect arrow-r" data-mdb-toggle="collapse" data-mdb-target="#paneLangHome" aria-expanded="false" aria-controls="paneLangHome">
                                        Language
                                        <i class="fa fa-angle-down rotate-icon"></i>
                                    </a>
                                </div>
                                <div id="paneLangHome" class="accordion-collapse collapse" aria-labelledby="headLangHome"> 
                                    <ul class="sub-menu">
                                        <li id="" class="menu-item"><a class="collapsible-header waves-effect" category="languageEnglish">English</a></li>
                                        <li id="" class="menu-item"><a class="collapsible-header waves-effect" category="languageFrench">French</a></li>
                                        <li id="" class="menu-item"><a class="collapsible-header waves-effect" category="languageItalian">Italian</a></li>
                                        <li id="" class="menu-item"><a class="collapsible-header waves-effect" category="languageSpanish">Spanish</a></li>
                                        <li id="" class="menu-item"><a class="collapsible-header waves-effect" category="languageDeutsch">Deutsch</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>    
                    </li>
                </ul>
                <div class="sidenav-bg mask-strong" style="width: 240px;"></div>
            </nav>
            <div id="sideoverlay"></div>
            <!-------------------------------------- sidebar end -------------------------------------->
            
            <div id="content">

                <!-------------------------------------- navbar start -------------------------------------->
                <nav id="menu_container" class="navbar navbar-expand-md navbar-dark unique-color-dark double-nav scrolling-navbar top-nav-collapse"></nav>
                <!-------------------------------------- navbar end -------------------------------------->

                <!-------------------------------------- form modals start -------------------------------------->
                <div id="form_container"></div>
                <!-------------------------------------- form modals end -------------------------------------->

                <!-------------------------------------- promotion modals start -------------------------------------->
                <div id="promotion_container"></div>
                <!-------------------------------------- promotion modals end -------------------------------------->

                <div id="rz-intro" class="py-4 text-center">
                    <h1 class="h4 fw-bold mb-3 mt-3">Terms & Conditions</h1>
                </div>
                <div id="wrapp" class="container px-lg-5 my-4">
                    <div class="row">
                        <div class="col-md-12">
                            <section>
                                <div class="container-fluid ">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p>
                                                The terms of this agreement shall govern the relationship between you (as Guest and/or Member) and The King Service SRL, a Bulgarian company. In this agreement ''webappgf.com refers either to the Website Operator.
                                            </p>
                                            <p>
                                                Member / Customer  – The visitor who signs up to the services of the site.
                                                Guest – The visitor who enters on and/or visits www.webappgf.com website without registering to the services of the site.
                                                Performer/Model – A physical person older than 18 (or 21), depending on the jurisdiction, who provides shows, chats or interacts with Members and Guests of the site.
                                                Credit Balance – At webappgf.com, Members have the opportunity of obtaining credits to pay for services, by purchasing packages. Payments are securely processed by our payment processors, and the purchased credits consequently appear on the Member’s account as a balance.
                                                Free Chat – An uninhibited option to interact with model/performer in a form of writing on-screen text messages.
                                                Private Chat – In Private Chat, customers are permitted to write or even talk (voice communication) with models face-to-face.
                                            </p>
                                            <br>
                                            <h5>
                                                <strong>By entering and/or registering on the website you give your consent to and accept the following:</strong>
                                            </h5>
                                            <p>
                                                webappgf.com is an online adult interactive website (including nude and non-nude erotic and sexual content). Therefore, its access by minors is prohibited. The access to webappgf.com is not recommended to persons who might be sensitive to adult entertainment content.
                                            </p>
                                            <p>
                                                The Models chat and carry out live webcam shows, in front of their camera, for members all over the world, who have selected them according to live streams, images, offline (teaser) and paying videos.
                                            </p>
                                            <p>
                                                The adult entertainment provided on the website is rendered by female and male individuals over the age of 18 spread worldwide.
                                            </p>
                                            <p>
                                                webappgf.com offers models in several different categories. 
                                            </p>
                                            <p>
                                                In Hot Flirt category, nudity or sexually provocative behavior is forbidden on free chat. In private chat however the Models are free to decide what kind of show they are willing to provide.
                                            </p>
                                            <ul style="list-style-type: disc;">
                                                <li><strong>Girl:</strong> One female online from who you can request a nude, erotic show during private according to her willingness setting.</li>
                                                <li><strong>Couple:</strong> Couples or groups of 3-4 models online from you can request a nude, erotic show during private according to their willingness setting.</li>
                                                <li><strong>Fetish:</strong> One female model online, spiced up with fetish accessories and extreme undertakings from who you can request a nude, erotic show during private according to her willingness setting.</li>
                                                <li><strong>Lesbians:</strong> Two female models online from who you can request a nude, erotic show during private according to their willingness setting.</li>
                                                <li><strong>Transsexual:</strong> One or more transsexual models online from who you can request a nude, erotic show during private according to their willingness setting.</li>
                                                <li><strong>Gays:</strong> One or more male models online from who you can request a nude, erotic show during private according to his willingness setting.</li>
                                            </ul>
                                            <p>
                                                In all other categories you can request a nude erotic show during private chat in accordance with the Willingness setting of the chosen Model.
                                            </p>
                                            <p>
                                                Prior to selecting the services intended, it is important to consult the content, price list and means of payment (credit and debit cards, PayPal etc.). This information is available on the website.
                                            </p>
                                            <p>
                                                webappgf.com's services are only available for persons over the age of 18 (21 in some regions). Therefore, no sexually explicit material is within the easy reach of minors.
                                            </p>
                                            <p>
                                                Persons under the age of 18 (21 in some regions) are also not allowed to be models. Consequently, all models were 18 years of age or older (21 in some regions) during the time of photography, as per proof of age held by the custodian of records.
                                            </p>
                                            <p>
                                                The publication of different content on the website does not mean that webappgf.com supports the author or takes the responsibility for such content.
                                            </p>
                                            <p>
                                                webappgf.com makes, to the extent permitted by law, no warranties or representations as to the information, services or products provided through or in connection with the service. Subscribers' and/or Guest's use of the service is at their own risk.
                                            </p>
                                            <p>
                                                All Models must fulfill three major requirements:
                                            </p>
                                            <ul style="list-style-type: disc;">
                                                <li>Signing of an agreement declaring, namely, the genuineness of personal data and age provided.</li>
                                                <li>Providing of a scanned copy of his/her photo ID.</li>
                                                <li>Providing of a photo taken of the Model, holding his/her photo ID next to his/her face.</li>
                                            </ul>
                                            <p>
                                                webappgf.com reserves the right to apply immediate and permanent suspension in case a screen name is offensive, refers to minors or upon the slightest suspicion of forgery.
                                            </p>
                                            <p>
                                                The accounts of the Models are immediately and permanently suspended if they violate webappgf.com's principles.
                                                <br>
                                                At webappgf.com there is a zero tolerance policy related to child pornography (written or visual). In case of the slightest suspicion, the account in question is immediately and permanently closed and the appropriate authorities may be contacted.
                                            </p>
                                            <br>
                                            <h5>
                                                <strong>Subscribers</strong>
                                            </h5>
                                            <p>
                                                In order to subscribe at webappgf.com it is mandatory to be at least 18 years old or 21 in some regions, in compliance with the local regulations applicable to the subscriber.
                                                <br>
                                                By registering on webappgf.com and by accepting this Agreement, the Subscriber hereby expressly consents to the supply of services from this website during the withdrawal period and the Subscriber expressly acknowledges that he/she is expressly losing his/her right to any withdrawal/cancellation right as regards the supply of said services. The above express consent is acquired in accordance with the Directive on Consumer Rights (2011/83/EC) as of 25 October 2011.
                                                <br>
                                                The present agreement shall be effective as from the date when the guest enters webappgf.com and/or the subscriber registers on webappgf.com and accepts this agreement and shall remain in force until duly terminated by either party in full compliance with the terms and conditions expressly set forth in this Agreement.
                                                <br>
                                                By registering on webappgf.com and by accepting this agreement, subscribers agree to indemnify, pay the costs of defense and hold harmless webappgf.com, its officers, directors, affiliates, shareholders, managers, members, agents and employees from any and all claims, losses, liabilities or expenses (including reasonable attorneys' fees) brought by third parties arising out of or related to their conduct, statements or actions, as well as breach of any term, condition or promise contained herein and unlawful conduct in the framework of this agreement.
                                                <br>
                                                In case of subscriber's unlawful conduct or breach of the present agreement, webappgf.com may terminate, without notice, subscriber's account and/or anything associated with it.
                                                <br>
                                                webappgf.com shall not be held responsible for any possible loss as a result of such termination nor for any credit compensation or refund. webappgf.com shall be entitled to suspend relevant member(s)’ account(s) and members from the use of the website and/or terminate unilaterally member(s)’ account(s) with immediate effect, if webappgf.com believes that a member does not or did not meet the requirement stated in these Terms and Conditions. In case of termination of the present agreement caused by a breach, unlawful misconduct or suspicion that a member did not meet the requirement stated in these Terms and Conditions, webappgf.com shall be further entitled to discretionarily ban any related credit cards and/or payment means (without time limit) associated with such account(s) that it is/are to be terminated when circumstances do justify such measures.
                                            </p>
                                            <br>
                                            <h5>
                                                <strong>Credits</strong>
                                            </h5>
                                            <p>
                                                The subscribers may purchase credit packages to spend in the available areas of adult entertainment; therefore the selection of services must be preceded of the consultation by the subscriber of the correspondent content, price list and means of payment made available on the website.
                                                <br>
                                                Text chat with dressed models is free, but if a subscriber wants to access the full feature service (including undressed models and private show) he/she must click on “A Private Show” button and from that point on stays in the video chat room with the models entering into a private mode where the purchased credits are used on a per-second basis.
                                                <br>
                                                Billing of a given account (the actual price payable for credit packages) depends on the physical location where the account has been created. Please take into consideration that webappgf.com reserves the right to round prices and therefore, shall be entitled to apply rounding.
                                                <br>
                                                In case of any query The King Service SRL will be able to help you regarding your transactions made through different payment providers as well, by contacting the provider in question. For billing information and support send an email to <a href="">help@webappgf.com</a>. webappgf.com does not store nor has access to transaction details.
                                                For banking expenses information, each subscriber should consult directly his/her bank.
                                                <br>
                                                Any complaint must be placed, within 24 hours counted from the occurrence, at <a href="">admin@webappgf.com</a>.
                                                <br>
                                                In accordance with the subscriber’s express waiver of withdrawal/cancellation, no refund or cancellation request will be accepted in the case the subscriber has begun to consume the credit package purchased. Some refunds are however possible subject to the conditions set forth in the following clauses.
                                                <br>
                                                webappgf.com will only compensate/refund credits in the amount proportionally determined in accordance to the price paid and problem effectively reported when any credit is lost due to dysfunction of webappgf.com or an model in the “Nude Only”.
                                                <br>
                                                The subscribers shall understand and accept that when joining an already ongoing private show initiated by another subscriber (the latter being referred to as the “First Member”), the subscriber(s) that is/are subsequently joining such performance (the “Subsequent Member(s)”) is/are deemed passive participant(s) to the extent that the Model(s) is/are only required to follow first member’s requests. As a result and in such cases, the Subsequent Member(s) shall not be entitled to any compensation or payment refund, exception made of webappgf.com malfunction that can be properly demonstrated by the Subsequent Member(s).
                                                <br>
                                                Besides the Private Chat, the subscribers may also contact the models via offline chat messages or, if the model is available, through a Video/Voice Call. Please note that subscribers may not make specific requests to an model via a Video/Voice call.
                                                <br>
                                                No partial cash refund of credit packages bought is ever possible. This therefore means that whenever a credits package balance is partially used (including credit rewards), a refund may only take place in the form of credits (and not cash) up to existing prior credits balance, subject to eligibility conditions. Eligible cash refunds, will be processed using the same payment method applied to the credits package originally purchased and for which the refund is requested. As a result of a cash refund, the corresponding amount of credits will then be deducted from your account's balance. You shall remain aware that certain payment methods do not allow any refund due to underlying technical restrictions pertaining to their use.
                                                <br>
                                                Amounts spent for show tickets, for photos and videos, Surprise, offline/private messages, Video/Voice Calls, are not subject to refund/compensation. Photos of a models shall remain visible as long as such model account is active and not closed on the website.
                                                <br>
                                                The subscriber accepts that in case of any fraudulent transaction webappgf.com has a right to use all available information at its disposal during any kind of legal procedure. Including, without the claim of completeness, browser history, IP and email addresses and any other traceable activity. During such legal procedures webappgf.com might involve other, professional investigator parties and share certain information in order to comply with law requirements, vindicate its rights and represent the best interests of its customers. The subscriber will stay liable for investigation or collection costs related to any fraudulent transaction. 
                                                <br>
                                                webappgf.com grants full cooperation to legal authorities investigating fraudulent transactions and other matters falling under legal jurisdiction and responds to subpoenas and court orders. For this reason subscribers may only use their own payment methods on our websites.
                                                <br>
                                                New subscribers may validate their credit card with a minor transaction for which they are entitled to 10.00 promotional credits. The amount of the validation transaction will be immediately refunded to the credit card holder. The aforementioned promotional credits are not available for those users who already have a membership on webappgf.com.
                                                <br>
                                                Please note that the abusive exercise of the credit card and/or e-mail address validation may lead to the termination of this agreement by the website operator with the user.
                                            </p>
                                            <p>
                                                By paying for a video or an photos on the model’s page such content will be visible for you for 60 days. Please note that even within that 60 days the model has the right to change the content anytime. If the model’s account is terminated for any reason his/her content will not be available anymore on webappgf.com.
                                            </p>
                                            <br>
                                            <h5>
                                                <strong>Subscriber's and Guest's Declarations</strong>
                                            </h5>
                                            <p>
                                                I expressly declare that, on the present date, I have reached the necessary age to view adult content in accordance to my local regulations. I declare that I have full legal capacity and mental capacity to enter freely into the present Agreement and to use/view related services without restriction.
                                                <br>
                                                I am fully aware that viewing adult content is only allowed for viewers of at least 18 years old or 21 in some regions.
                                                <br>
                                                I am fully aware that webappgf.com transmits Adult entertainment content to its Subscribers and Guests.
                                                <br>
                                                I am fully and exclusively liable for any false declarations regarding my residency and for not informing webappgf.com of its change.
                                                <br>
                                                I am fully aware that all contents and materials provided on webappgf.com, included but not limited to live camera streams, images, graphics, applications and texts are duly protected by the applicable legislation, being all rights reserved. Therefore they shall be for my own exclusive personal use.
                                                <br>
                                                I am fully aware of and agree that webappgf.com can grant full cooperation to legal authorities investigating fraudulent transactions and other matters falling under legal jurisdiction as well as responds to subpoenas and court orders.
                                                <br>
                                                I understand and accept that under no circumstances shall webappgf.com or any of its related, affiliated companies be liable for any direct, indirect, incidental, special, consequential or punitive damages that result from any false disclosures that may arise, violation of the rights of subscribers, prostitution, pedophilia, child pornography, illegal abuse, exploitation or traffic of women and children.
                                                <br>
                                                I expressly authorize webappgf.com to monitor and record my online activities on the website limited to messages in private chats, comprising my requests for webappgf.com services, e-mails.
                                                <br>
                                                I declare and acknowledge that I am not acting on behalf of a legal person but as an individual consumer and in no event the purchase of services under this agreement could be considered as being part of my professional activity.
                                            </p>
                                            <br>
                                            <h5>
                                                <strong>Obligations of the subscriber and guest</strong>
                                            </h5>
                                            <p>
                                                I will never expose minors to the content of the website and will take on full precautions to avoid any type of exhibition or access of the minors to the website. I will be solely responsible in case any minor would access webappgf.com through my account or by using my credit card details.
                                                <br>
                                                I agree not to copy, reproduce, republish, download, transmit and/or make available to the public any of the content/materials of webappgf.com.
                                                <br>
                                                I assume full responsibility to maintain the security of my account and password.
                                                <br>
                                                I will not arrange personal appointments with any model, since it is prohibited, and will not exchange my telephone number with a model or in any other way try to have any physical contact with a model. I am aware that in case it is proven that I arranged personal appointments with a model or attempted to do so, I can be banned from the Website and my account will be closed without any right of compensation.
                                                <br>
                                                I will not use obscene words, threaten or quarrel with, or violate the rights of visitors, models.
                                            </p>
                                            <p>
                                                The webappgf.com Support  monitors all camera feeds available on the website 24 hours a day, 7 days a week.
                                            </p>
                                            <br>
                                            <h5>
                                                <strong>Contacts</strong>
                                            </h5>
                                            <p>
                                                If there are any questions regarding this Terms & Conditions, you may contact us using the information below.
                                            </p>
                                            <p>
                                                Online Support Chat
                                                <br>
                                                Sending of an email to <a href="">help@webappgf.com</a> and <a href="">admin@webappgf.com</a>.
                                            </p>
                                            <p>
                                                The Italian version shall prevail of all legal statements, statutory declarations made by webappgf.com, including the present Agreement. 
                                                <br>
                                                This agreement and the relations arising out from it between webappgf.com and the subscribers and guests will be governed by the law of  Bulgaria.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        
        <footer id="footer_container" class="page-footer font-small unique-color-dark"></footer>

    </body>
    <!-- scripts start --> 
    <script src="../src/js/legal.js"></script>
    <!-- scripts end -->

</html>