/*
    [CSS Index - Model Center / Company]

    ---

    Author:   RZ
*/

/*
*/
/**********************************Content-Start**********************************/
.typeCard .view{
    border: 2px solid rgba(203, 33, 142,.25);
}
.typeCard.active .view{
    background-image: linear-gradient(315deg, rgba(102, 23, 203,.25) 0%, rgba(203, 33, 142,.25) 74%);
    border: 2px solid transparent;
}
.popover__title {
    font-size: 24px;
    line-height: 36px;
    text-decoration: none;
    color: #fff;
    text-align: center;
    padding: 15px 0;
  }
  
.popover__wrapper {
    position: relative;
    margin-top: 1.5rem;
    display: inline-block;
}
.popover__content {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: -150px;
    transform: translate(0, 10px);
    background-color: #2b2b2b;
    padding: 1.5rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    width: auto;
}
.popover__content:before {
    position: absolute;
    z-index: -1;
    content: "";
    right: calc(50% - 10px);
    top: -8px;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #2b2b2b transparent;
    transition-duration: 0.3s;
    transition-property: transform;
}
.popover__wrapper:hover .popover__content {
    z-index: 10;
    opacity: 1;
    visibility: visible;
    transform: translate(100px, -20px);
    transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
}
.popover__message {
    color: #fff;
    text-align: center;
}
/**********************************Content-End**********************************/

/**********************************Responsive-Start**********************************/

/**********************************Responsive-End**********************************/