/*
[CSS Index - privacy]

---

Author:   RZ
*/

/*
*/
/**********************************Content-Start**********************************/
ol, ul {
    padding-left: 2rem;
}
#rz-intro {
    background-color: rgba(0,0,0,.2);
    color: #c7c7c7;
    padding-left: 240px;
}
.fw-bold {
    font-weight: 700!important;
}
.rz-docs-layout {
    padding-left: 240px;
}
.container.px-lg-5{
    color: #c7c7c7;
}
.container.px-lg-5 strong{
    color: #e4e4e4;
}
#menu_container {
    transition: all .25s ease;
}
/**********************************Content-End**********************************/
/**********************************Responsive-Start**********************************/
@media (max-width: 768px) {
    #menu_container.active {
        margin-left: -15em!important;
    }
    #sidebar {
        margin-left: -15em;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}
@media (max-width: 1439px) {
    #rz-intro {
        padding-left: 0;
    }
}
@media (max-width: 1440px){
    .rz-docs-layout {
        padding-left: 0px;
    }
}
/**********************************Responsive-End**********************************/