/*
[CSS Index - style]

---

Author:   RZ
*/

/*
 .- Responsive
*/

*::-moz-selection { 
    color: #fff;
    background-color: #cb218e;
    
}
*::selection { 
    color: #fff; 
    background-color: #cb218e;
    
}

/**********************************Master-Header-Start**********************************/
.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}
#sidebar {
    transform: translateX(0%)!important;
    position: relative!important;
    min-width: 15em;
    max-width: 15em;
    color: #fff;
    transition: all 0.3s;
}
#sidebar.active {
    margin-left: -15em;
}
.side-nav {
    transition: transform ease-out .5s;
    height: inherit;
}
.sn-bg-1 {
    background-image: url(../img/bg/sidenav-1.jpg);
}
.sn-bg-2 {
    background-image: url(../img/bg/sidenav-2.jpg);
}
.side-nav .sidenav-bg.mask-strong:after {
    background: rgba(0,0,0,.95);
}
.side-nav a.collapsible-header.active,
.side-nav a.collapsible-header:hover,
.side-nav .accordion .accordion-collapse .menu-item a.active,
.side-nav .accordion .accordion-collapse .menu-item a:hover {
    background-color: rgba(255,255,255,.15);
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
.side-nav .accordion a {
    color: #fff;
    font-weight: 300;
    font-size: .8rem;
    height: 36px;
    line-height: 36px;
}
.sub-menu {
    background-color: rgba(150,150,150,.08);
}
.side-nav .accordion a[aria-expanded="true"] {
    color: #cb218e;
    font-weight: 500;
    font-size: .8rem;
    height: 36px;
    line-height: 36px;
}
.side-nav .accordion a[aria-expanded="true"] .rotate-icon {
    transform: rotate(180deg);
}
.side-nav .accordion .accordion-collapse .menu-item a {
    padding-left: 47px;
    height: 36px;
    line-height: 36px;
    background-color: rgba(0,0,0,.15);
    color: #fff;
    font-weight: 300;
    font-size: .8rem;
}
.md-pills .nav-link {
    color: #fff;
}
.md-pills .nav-link.active {
    -webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    color: #fff;
    background-image: linear-gradient(315deg, #6617cb 0%, #cb218e 74%)!important;
    background-color: transparent!important;
}
.border-custom {
    border-color: #cb218e!important;
}
.modal-content {
    background: #272727;
    border: #555;
}
.modal-footer {
    border-top: 1px solid rgb(119, 119, 119);
}
.m-item a span.mr-1{
    color: #fff;
}
.m-item a i{
    background-image: linear-gradient(315deg, #6617cb 0%, #cb218e 74%)!important;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.svgicon {
    display: inline-block;
    height: 1em;
    width: 1em;
}

/******************Form******************/
.md-form input[type="email"]:focus:not([readonly]) + label, .md-form input[type="password"]:focus:not([readonly]) + label {
    color: #cb218e;
}
.md-form input[type="email"]:focus:not([readonly]), .md-form input[type="password"]:focus:not([readonly]) {
    -webkit-box-shadow: 0 1px 0 0 #cb218e;
    box-shadow: 0 1px 0 0 #cb218e;
    border-bottom: 1px solid #cb218e;
}
.form-control {
    color: #bbc0c6!important;
}
.modal-dialog form h2 {
    color: #fff;
}
.modal-dialog form p {
    color: #9e9e9e!important;
}
.md-pills li {
    padding: .3rem;
}
.btn-floating.btn-sm i {
    line-height: 30px;
}
/******************Dropdown******************/
.dropdown-menu {
    min-width: 30rem;
    background-color: rgba(33,33,33,.95);
}
.navbar .dropdown-menu a {
    color: #fff!important;
}
.dropdown .dropdown-menu.dropdown-warning .dropdown-item:hover {
    background-image: linear-gradient(315deg, #6617cb 0%, #cb218e 74%)!important;
    background-color: transparent!important;
}
.dropdown .dropdown-menu .dropdown-item:hover {
    color: #fff!important;
}

/******************Buttons******************/
.n-btn {
    background-image: linear-gradient(315deg, #6617cb 0%, #cb218e 74%)!important;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}
.btn-custom {
    font-size: .70rem!important;
    background-image: linear-gradient(315deg, #6617cb 0%, #cb218e 74%);
    color: #fff!important;
}
.btn-custom.lock {
    background-image: none;
    background-color: transparent;
}
.btn-outline-custom {
    font-size: .70rem!important;
    border: 2px solid #6617cb;
    font-weight: bold;
    background-image: linear-gradient(315deg, #6617cb 0%, #cb218e 74%)!important;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.btn[class*=btn-outline-] {
    padding-top: .7rem;
    padding-bottom: .7rem;
}
.btn.btn-sm {
    padding: .5rem 1.6rem!important;
}
.btn-group .btn-outline-custom {
    line-height: 12px!important;
}
#btn-top.btn-floating i {
    line-height: 47px!important;
    width: inherit!important;
}
/******************Scroll-Bar******************/
.custom-scroll {
    overflow-y: scroll;
}
.custom-scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background: rgba(0,0,0,0.8);
    border-radius: 10px; 
}
.custom-scroll::-webkit-scrollbar {
    width: 6px;
    background: rgba(0,0,0,0.8);
}
.custom-scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #cb218e;
    background-image: linear-gradient(315deg, #6617cb 0%, #cb218e 74%)!important;

}
/**********************************Master-Header-End**********************************/

/**********************************Main-Start**********************************/
#content {
    width: 100%;
    transition: all 0.3s;
}
#content .container-fluid>div.row{
    margin-right: 0!important;
}
#btn-top {
    display: inline-block;
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    transition: background-color .3s, 
      opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}
#btn-top:hover {
    cursor: pointer;
    background-color: #333;
}
#btn-top:active {
    background-color: #555;
}
#btn-top.show {
    opacity: 1;
    visibility: visible;
}
/**********************************Main-End**********************************/

/**********************************Footer-Start**********************************/
.unique-color-dark {
    background-color: rgba(24,24,24,10)!important;
    z-index: 100;
}
.deep-purple.accent-2 {
    background-color: #cb218e!important;
}
/**********************************Footer-End**********************************/

/**********************************Responsive-Start**********************************/
@media (max-width: 768px) {
    #sidebar {
        position: fixed!important;
        top: 0;
        bottom: 0;
        margin-left: -15em;
    }
    #sideoverlay {
        z-index: 1000;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.65);
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}

@media (min-width: 1200px){
    .col-xl-2 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
}   

@media (min-width: 1400px){
    .col-xl-2 {
        -ms-flex: 0 0 10%;
        flex: 0 0 10%;
        max-width: 10%;
    }
    .col-xl-4 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }
    .col-xl-6 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
}  
/**********************************Responsive-End**********************************/
